/* ---- MAIN ---- */

main {
    display: flex;
    justify-content: center;
    gap: 8%;
    padding: 1.5rem;
}

h1 {
    font-weight: 500;
    margin-bottom: 1rem;
}

/* ---- SECTION COM FORM ---- */
#form-container {
    display: flex;
    gap: 3rem;

    padding: 1.5rem;

    background-color: #efcd8f;

    border-radius: 7px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
}

form #dados-basicos {
    width: 250px;
}

form article h3 {
    margin-bottom: 1rem;
}

#endereco-container {
    display: flex;
    gap: 1rem;
}

#endereco-container .input-box:has(#numero) {
    width: 100%;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin-bottom: .75rem;
}

input {
    padding: 8px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    border-radius: 5px;
    outline: none;
}

select {
    padding: 8px;
}

#botao-cadastrar {
    width: 100%;
    padding: 12px;
    background-color: #df8a3c;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;

    border-radius: 2px;
    border: none;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, .6);

    transition: all .1s;
}

#botao-cadastrar:hover {
    background-color: #ca7c33;
}

#botao-cadastrar:active {
    transform: translateY(2px);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, .6);
}

#ja-tenho-conta-texto {
    margin-top: .5rem;
}