/* ---- MAIN ---- */
main {
	padding: 1rem;
	max-width: 400px;
	margin: 0 auto;
}

h1 {
    text-align: center;
}

h2 {
	margin-bottom: 20px;
}

section {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}
	
	
.pizzas {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 3rem;
}

.pizza-container {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	width: 100%;
}

.pizza-container img {
    width: 100%;
	max-width: 400px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border: 1px solid black;
    border-radius: 5px;
    background-size: contain;
}

h3 {
    margin-top: .5rem;
}

.pizza-descricao {
    font-size: 14px;
    color: #252525;
}

@media (min-width: 768px) {
	main {
		max-width: 1000px;
	}

	.pizza-container {
		max-width: 600px;
	}

	.pizza-container img {
		max-width: 600px;
		height: 200px;
	}

	.pizzas {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}
}

@media (min-width: 1024px) {	
	.pizza-container {
		max-width: 300px;
	}

	.pizza-container img {
		max-width: 300px;
		height: 150px;
	}

	.pizzas {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 2rem;
	}
}