/* ---- MAIN ---- */

main {
    display: flex;
    justify-content: center;
    gap: 8%;
    padding: 1.5rem;
}

/* ---- SECTION COM FORM ---- */
section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form {
    min-width: 400px;
    display: flex;
    flex-direction: column;

    padding: 1.5rem;

    background-color: #efcd8f;

    border-radius: 7px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin-bottom: 1rem;
}

input {
    padding: 8px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    border-radius: 5px;
    outline: none;
}

#nao-tem-conta-texto {
    margin-top: 1rem;
}

#botao-entrar {
    padding: 12px;
    background-color: #df8a3c;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;

    border-radius: 2px;
    border: none;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, .6);

    transition: all .1s;
}

#botao-entrar:hover {
    background-color: #ca7c33;
}

#botao-entrar:active {
    transform: translateY(2px);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, .6);
}

/* ---- IMAGEM DE LOGO ---- */
#imagem-logo {
    width: 400px;
}
