@import url('https://fonts.cdnfonts.com/css/maharlika');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Sancreek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arimo", sans-serif;
}

/* ---- HEADER ---- */

header {
    background-color: #d18719;
    height: 150px;
    padding: 1rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo {
    font-size: 3rem;
    font-weight: 1rem;
    font-family: 'Maharlika', sans-serif;
    text-align: center;
}

#header_descricao {
    text-align: center;
    margin-bottom: 1rem;
}

nav#navegacao_primaria {
    display: flex;
    justify-content: center;
    gap: 2.5%;
	font-optical-sizing: auto;
}

nav#navegacao_primaria a {
	font-size: 18px;
	text-decoration: none;;
	color: white;
}

nav#navegacao_primaria a:hover {
		text-decoration: underline;
}

/* ---- FOOTER ---- */
footer {
    background-color: #efcd8f;
    padding: 1.5rem;
}

#footer-box {
    display: flex;
    justify-content: space-between;
}

#navegacao_secundaria {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    /* width: 300px; */
}

.link-coluna {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.link-coluna a {
    color: black;
}

#footer-logo {
    width: 150px;
}

#nextoria {
    margin-top: 1rem;
    text-align: center;
}