/* cor de fundo */
body {
    background-color: white;
}

/*
/*configurações do titulo*/
/* .titul {
    text-align: center;
    font-family: 'Maharlika', sans-serif;
    font-weight: normal;
    font-size: 52px;
} */

/*configuração do sub titulo*/
/* .subtit {
    margin-top: 10px;
} */

/*alterações dos anchor*/
/* a {
    color: white;
    margin-right: 12px;
} */

/*personalização do menu de navegação*/
.naveg {
    text-align: center;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
}

/*tirei a sublinha do anchor*/
/* a {
    text-decoration: none;
} */

/*coloquei uma cor preta no hover do anchor*/
/* a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
} */


#inicial {
	padding-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 150px;
	background-color: #d18719;
}

/*configurações da imagem de pizza do início*/
.pizz {
    height: 500px;
    width: 500px; 
		margin-left: -250px;
}

/*bloco branco em baixo da pizza*/
.blocobranco {
	display: flex;
	gap: 2rem;
    background-color: white;
	height: 500px;
	width: 1000px;
	margin-left: 300px;
}

#cabecalho-informacao {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

/*configuração de tamanho do slogan*/
.slogan {
	max-width: 600px;
	font-size: 1.25rem;
}

/*personalização do botão de pedir*/
.botaopedir{
    background-color: #d18719;
    border-radius: 5px;
    height: 90px;
    width: 250px;
    color: white;
    border-color: #d18719;
		align-self: flex-end;
		cursor: pointer;
		margin-top: 150px;
		font-size: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
}

/*animação do hover*/
.botaopedir:hover {
    background-color: #a8701d;
}

/*personalização do sobre nós*/
#sobre-nos {
    padding: 150px;
    background-color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5rem;
}

/*imagem do pizzaiolo que fica do lado do sobre nós */
.pizzaiolo {
    width: 400px;
    height: 400px;
		object-fit: cover;
    border-radius: 28px;
}

/*personalização de tamanho do texto e margem sobre nós*/
.texto-sobre-nos {
    max-width: 500px;
}

/*personalização do título sobre nós*/
.subsobre {
    font-size: 32px;
}

/*personalização do texto sobre nós*/
.textonos {
    font-size: 22px;
}

#cardapio {
	padding-block: 150px;
	padding-inline: 100px;
	background-color: #EFCD8F;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

/*Alterei o tamanho do título cardápio*/
.cardapio-titulo {
    font-size: 42px;
}

.categorias {
	display: flex;
	gap: 3rem;
}

/*Bloco das categorias de pizza*/
.categoria {
    display: flex;
		flex-direction: column;
		gap: 10px;
}

.categoria a {
	color: white;
}

/*Bloco dos tipos de pizza*/
.pizzas {
    width: 350px;
    height: 300px;
    border-radius: 10px;
    transition: 0.3s ease;
}

/* Efeito hover */
.categoria img:hover {
    transform: scale(1.05);
}

/*Texto dos tipos de pizza*/
.tipos {
    font-size: 30px;
}

#contato {
	max-width: 1000px;
	margin: 0 auto;
	padding: 40px;
	background-color: white;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto auto;
	grid-template-areas: 'local mapa' 'horario mapa';
}

/*fundo da seção de localização*/
.ct_local {
	grid-area: local;
    background-color: white;
    padding: 20px;
}

.ct_horario {
	grid-area: horario;
}

/*imagem das logos*/
.logos {
    display: flex;
    flex-direction: column;
    height: 30px;
}

/* Container da tabela */
.tabela-container {
  background-color: #ffffff;
  padding: 20px;
}

/* Estilo da tabela */
table {
  border-collapse: collapse;
  width: 320px;
  font-size: 1em;
  text-align: center;
}

/* Cabeçalho */
thead th {
  background-color: #c67b0c;
  color: black;
  padding: 10px;
  font-weight: bold;
  border: 1px solid #000;
}

/* Linhas comuns */
tbody td {
  border: 1px solid #000;
  padding: 8px;
}

/* Linhas destacadas (amarelo mais escuro) */
tr.destaque {
  background-color: #f1ca84;
}

/*imagem do google maps*/
.localização {
	grid-area: mapa;
    width: 100%;
	max-width: 600px;
    height: auto;
}

#avaliacoes {
	background-color: #d18719;
    padding: 50px;
}

#avaliacoes-titulo {
    color: white;
    margin-bottom: 1rem;
	justify-self: center;
	align-self: center;
}

#avaliacoes-titulo a {
	text-decoration: underline;
	font-size: 1rem;
	color: white;
}

/*Caixa que contém as avaliações*/
.avaliacoes {
	max-width: 1200px;
	margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;              
}


/*caixa de cada avaliação*/
.avaliacao {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 8px;
    row-gap: 4px;

    background-color: white;
    width: 100%;
    border-radius: 7px;
    height: 125px;
    padding: 8px;
}

/*Imagem dos clientes*/
.img-pessoa {
		height: 50px;
    width: 50px;

		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		font-weight: bold;
		font-size: 18px;

    border-radius: 50%;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
}

.avaliacao-estrelas {
    font-size: 10px;
}

.avaliacao-nome {
    font-size: 14px;
    color: #333;
}


@media (max-width: 1440px) {
	body {
		background-color: white;
	}

	/*configurações da imagem de pizza do início*/
	.pizz {
		height: 300px;
		width: 300px; 
		margin-left: -150px;
		margin-top: 0;
	}

	/*bloco branco em baixo da pizza*/
	.blocobranco {
		gap: 2rem;
		justify-content: center;
		align-items: center;
		height: fit-content;
		width: fit-content;
		padding: 20px;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 20px;
	}


	/*configuração de tamanho do slogan*/
	.slogan {
		max-width: 500px;
	}

	/* ------- AVALIAÇÕES -------- */

	#avaliacoes {
		padding: 20px;
	}

	/*Caixa que contém as avaliações*/
	.avaliacoes {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(8, auto);             
	}


	/*caixa de cada avaliação*/
	.avaliacao {
		width: 100%;
	}
}

@media (max-width: 1024px) {
	/*configurações da imagem de pizza do início*/
	.pizz {
			height: 300px;
			width: 300px; 
			margin-left: 0;
			margin-top: -150px;
	}

	/*bloco branco em baixo da pizza*/
	.blocobranco {
			flex-direction: column;
			gap: 2rem;
			justify-content: center;
			align-items: center;
			height: fit-content;
			width: fit-content;
			padding: 20px;
			margin-left: 20px;
			margin-right: 20px;
			margin-top: 150px;
	}

	#cabecalho-informacao {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	/*configuração de tamanho do slogan*/
	.slogan {
		max-width: fit-content;
	}

	/*personalização do botão de pedir*/
	.botaopedir{
			height: 90px;
			width: 100%;
			align-self: stretch;
			margin-top: 20px;
	}

	/* --------- SOBRE NÓS --------- */
	/*personalização do sobre nós*/
	#sobre-nos {
			padding: 30px;
			flex-direction: column;
			gap: 2rem;
	}

	/*imagem do pizzaiolo que fica do lado do sobre nós */
	.pizzaiolo {
			width: 300px;
			max-width: 100%;
			height: auto;
	}

	/*personalização de tamanho do texto e margem sobre nós*/
	.texto-sobre-nos {
			max-width: 500px;
	}

	/*personalização do título sobre nós*/
	.subsobre {
			font-size: 24px;
	}

	/*personalização do texto sobre nós*/
	.textonos {
			font-size: 18px;
	}

	/*---------- Cardápio ---------- */
	#cardapio {
		padding-block: 30px;
		padding-inline: 20px;
		gap: 30px;
	}

	/*Alterei o tamanho do título cardápio*/
	.cardapio-titulo {
			font-size: 42px;
	}

	.categorias {
		flex-direction: column;
		align-items: center;
	}


	/* --------- CONTATO E LOCALIZAÇÃO --------- */
	#contato {
		padding: 20px;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'local' 'horario' 'mapa';
	}

	/* Estilo da tabela */
	table {
		width: 100%;
	}

	/*imagem do google maps*/
	.localização {
		margin-left: 0;
		margin-top: 32px;
		/* width: 100%; */
		height: auto;
		justify-self: center;
	}

	/* ----------- AVALIAÇÕES ------------ */
	#avaliacoes {
		padding: 20px;
	}

	/*Caixa que contém as avaliações*/
	.avaliacoes {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(8, auto);             
	}


	/*caixa de cada avaliação*/
	.avaliacao {
		width: 100%;
	}
}